p.payment_module a.ym_AC {
	background: url(../img/card.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.yandex_money_card {
	background: url(../img/card.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.ym_WM {
	background: url(../img/wm.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.yandex_money_wallet {
	background: url(../img/yandex-money.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.ym_GP {
	background: url(../img/eleksnet.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.ym_PC {
	background: url(../img/yandex-money.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.ym_MC {
	background: url(../img/sms.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.ym_AB {
	background: url(../img/alfabank.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.ym_SB {
	background: url(../img/sberbank.png) 23px 30px no-repeat #fbfbfb;
}

p.payment_module a.ym_AC:hover,
p.payment_module a.yandex_money_card:hover,
p.payment_module a.ym_WM:hover,
p.payment_module a.yandex_money_wallet:hover,
p.payment_module a.ym_GP:hover,
p.payment_module a.ym_PC:hover,
p.payment_module a.ym_AB:hover,
p.payment_module a.ym_SB:hover,
p.payment_module a.ym_MC:hover{
	background-color: #f6f6f6;
}

p.payment_module a {
	-webkit-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	transition-duration: 0.5s;
}

p.payment_module a.ym_AC:after,
p.payment_module a.yandex_money_card:after,
p.payment_module a.ym_WM:after,
p.payment_module a.yandex_money_wallet:after,
p.payment_module a.ym_GP:after,
p.payment_module a.ym_AB:after,
p.payment_module a.ym_SB:after,
p.payment_module a.ym_PC:after,
p.payment_module a.ym_MC:after{
	display: block;
	content: "\f054";
	position: absolute;
	right: 15px;
	margin-top: -11px;
	top: 50%;
	font-family: "FontAwesome";
	font-size: 25px;
	height: 22px;
	width: 14px;
	color: #777777;
}